.home-page .hero-section {
    background: linear-gradient(to top, rgba(219, 227, 5, 0.6), rgba(219, 227, 5, 0.4));
    color: #333; 
}

.lp .hero-section {
    background: linear-gradient(to top, rgba(62, 200, 242, 0.6), rgba(62, 200, 242, 0.2));
    color: #333; 
}

.hero-section {
    height: 70vh; 
    padding: 100px; 
}

.hero-section h1 {
    font-size: 3.5rem; /* Larger font size for the heading */
    font-weight: bold; /* Make the heading bold */
}

.container {
    max-width: 100%;
}

/* Add media query for small screens */
@media (max-width: 1200px) {
    .hero-section {
        height: auto; /* Change height to auto for better responsiveness */
        padding: 50px 20px; /* Reduce padding on small screens */
    }
}


.logoContainer {
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .logoContainer .logo-image {
      display: none;
    }
  }

.navbar {
    align-items: center;
}

article img {
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Default style for mobile */
.blog-page {
    width: 100%;
    margin: 0 auto;
}

/* Desktop style */
@media (min-width: 768px) {
    .blog-page {
        width: 70%;
        margin: 0 auto;
    }
}

.blog-image-container {
  position: relative;
  height: 100%;
}

.blog-image-container img {
  object-position: center;
}

.home-alternating-background {
  background-color:rgb(202,190,189, 0.2);
}

.default-background {
  background-color: #ffffff;
}

.default-section-background {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}